@page
@model ErrorModel
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Error";
}

<div class="misc-wrapper text-center">
    <h2 class="mb-2 mx-2">Oops! Something went wrong 🚧</h2>
    <p class="mb-4 mx-2">An internal server error occurred while processing your request. Please try again later.</p>
    
    @if (Model.ShowRequestId)
    {
        <p class="small text-muted mb-4">Request ID: <code>@Model.RequestId</code></p>
    }

    <a asp-page="/Index" class="btn btn-primary">Back to dashboard</a>
    <div class="mt-5">
        <img src="~/assets/img/illustrations/girl-doing-yoga-light.png" alt="error-illustration" width="500" class="img-fluid" />
    </div>
</div>
